@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-card {
  animation: fadeSlideUp 0.6s ease-out forwards;
}



@keyframes floatIcon {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.float-icon {
  animation: floatIcon 3s ease-in-out infinite;
}



@keyframes tempPop {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.temp-pop {
  animation: tempPop 0.4s ease-out forwards;
}



@keyframes fadeInSmooth {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-appear {
  animation: fadeInSmooth 1s ease-out;
}
